.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 10px; 
}

.textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box; 
}

.generateButton {
  width: 150px; 
  height: 60px;
  padding: 0; 
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0070f3;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box; 
}

.generateButton:hover {
  background-color: #005bb5;
}





.selectButton {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #0070f3;
  color: #fff;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.selectButton:hover {
  background-color: #005bb5;
}

.showContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.showContent.visible {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-color: #0070f3 #2a2a2a; 
}

.voiceList {
  padding: 0;
}

.voiceItem {
  padding: 4px;
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
}

.voiceItem .buttons{
  text-align: end;
}

.voiceItem button {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  font-size: 0.875rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #28a745;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
}

.voiceItem button:hover {
  background-color: #218838;
}

.selectedVoice {
  background-color: #4a4a4a;
}

.voiceName {
  font-size: 20px;
  margin: 0;
}

.audioPlayer {
  width: 100%;
  margin: 10px 0;
}

